app/build
app/libs
app/app.iml
app/.gitignore
#app/build.gradle
#app/proguard-rules.pro
app/src/androidTest
app/src/debug
app/src/release
app/app-release.apk
build
.gradle
.idea
#build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
#settings.gradle
Imageoftheday.iml
app/.gitignore
*~
Thumbs.db
.DS_Store
.idea
*REMOTE*
*LOCAL*
*BASE*
*BACKUP*
*.orig
*.iml
